<div class="row">
  <div class="col-md-3">
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="col-md-2">
    <% posts = ['Attaquant', 'Défenseur', 'Gardien', 'Milieu']%>
    <%= f.select :post, posts, {:prompt=>true}, {:class=>'form-control'}  %>
  </div>
  <div class="col-md-1">
    <%= f.number_field :point, autofocus: true, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.link_to_remove "Remove this player", class: "btn btn-warning" %>
  </div>
</div><br />