  <div class="row">
    <div class="col-md-9">
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.link_to_remove "Remove this team", class: "btn btn-primary" %>
    </div>
  </div><br />




