<div class="panel panel-default">

  <div class="panel-heading">
    <h1>Modifier le participant <%= @member.user.name %></h1>
  </div>

  <div class="panel-body">
    <%= render 'formedit' %>
  </div>

</div>
